


@mixin gridContainer{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu' 
    'main main main main main main'
    'right right right right right right';
    background-color: $color_background;
    padding: 10px;
 }
@mixin gridItem{  
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
}

@mixin fontProperties {
    font-size: 50px;
    color: $color_text;

}

@mixin imgSize{
    height: 500px;
    width: auto;

}

@mixin containerSize{
    width: 1000vw;
    height: 5000vh;
}



