


@mixin gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $color_background;
    padding: 10px;
 }
@mixin gridItem{  
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@mixin fontProperties {
    $font_family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    $color_text: white;

}

@mixin imgSize{
    height: 500px;
    width: auto;

}

@mixin containerSize{
    width: 1000vw;
    height: 5000vh;
}



