


@mixin gridContainer{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu' 
    'main main main main main main'
    'right right right right right right';
    background-color: $color_background;
    padding: 10px;
 }
@mixin gridItem{  
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
}

@mixin itemBackground{
    background-repeat: no-repeat;
    background-position-x: center;
}

@mixin fontProperties {
    font-size: 30px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}

@mixin imgSize{
    height: 500px;
    width: auto;

}


@mixin containerSize{
    width: 1000vw;
    height: 5000vh;
}

@keyframes example {
    0%   {color: rgb(0, 0, 0);}
    25%  {color: rgb(165, 165, 165);}
    50%  {color: rgb(25, 0, 255);}
    75%  {color: rgb(133, 5, 5);}
    100% {color: rgb(0, 0, 0);}
  }



