@import "_variables";
@import "_functions";

body{
  background-color: $color_background;
  
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  @include gridContainer;
  gap: 10px;
  background-color: $color_item;
  padding: 20px;
}

.grid-container > div {
  background-color: $color_item;
  @include gridItem;
}

p{
  @include fontProperties;
  font-family:'Times New Roman', Times, serif;
}

img{
  @include imgSize;
  
}